.photo-gallery {
	display: flex;
	flex-direction: row;
	gap: 20px;

	&.fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 999;
		align-items: center;
		justify-content: center;
		gap: 0;
	}


	.gallery-preview {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 35vw;

		&.fullscreen-photo {
			width: 300px;
		}

		.main-photo {
			width: 100%;
			height: auto;
			transition: transform 0.3s ease-in-out;
		}

		.fullscreen-button {
			position: absolute;
			top: 0;
			left: 0;
			background-color: transparent;
			border: none;
			padding: 20px 20px;
			cursor: pointer;
		}
	}

	.thumbnail-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 20%;

		.thumbnail {
			width: 100%;
			max-width: 80px;
			max-height: 80px;
			opacity: 0.5;
			cursor: pointer;
			transition: opacity 0.3s, border-color 0.3s;

			&:hover,
			&.selected {
				opacity: 1;
				border: 2px solid #84bc22;
			}
		}
	}
}

@media (max-width: 990px) {
	.photo-gallery {
		flex-direction: column;
		align-items: center;

		.thumbnail-list {
			flex-direction: row;
			width: auto;
		}

		.gallery-preview {
			width: 100%;
		}

		.thumbnail-list {
			display: none;
		}
	}
}
