.services {
	padding: 50px 80px 60px 60px;
	background-color: #45413e;
	display: flex;
	justify-content: space-around;
}

@media (max-width: 770px) {
	.services {
		flex-direction: column;
		gap: 80px;
		align-items: center;
	}
}