.product {
	margin-bottom: 20px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 70px;

	&-main {
		padding: 15px 55px 0 16px;
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 70px;
		grid-row-gap: 0px;
	}
}

@media (max-width: 990px) {
	.product {
		&-main {
			padding: 0;
			grid-template-columns: 1fr;
			gap: 30px;
		}
	}
}