.popularItems {
	padding: 80px 50px 60px 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.headline {
		display: flex;
		align-items: center;
		width: 100%;

		.line {
			flex: 1;
			border-top: 2px solid #2c3e50;
		}

		.line-text {
			padding: 0 50px;
			color: #ffffff;
			font-size: 24px;
			font-weight: 800;
		}
	}

	.load {
		position: relative;
		width: 25%;
		margin: 0 auto;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 50px;
			transform: translateY(-50%);
			background-image: url('../../../../assets/images/spiner_icon.png');
			background-size: contain;
			width: 20px;
			height: 15px;
		  }
	}

	.items {
		&-wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 30px;
			row-gap: 30px;
		}
	}
}
