.category {
	padding: 0 55px 40px 55px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;

	.results-num {
		color: #45413e;
		font-size: 14px;
	}
}

@media (max-width: 770px) {
	.category {
		padding: 0 15px 40px 15px;
	}
}