.banner {
	position: relative;
	background-color: #262a32;
	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		gap: 40px;

		&-headline {
			color: #ffffff;
			font-size: 48px;
			font-weight: 800;
		}
	
		&-text {
			color: #ffffff;
			font-family: 'Myriad Pro';
			font-size: 14px;
			text-align: center;
		}
	}

	&-image {
		width: 100%;
		z-index: -1;
	}
}

@media (max-width: 900px) {
	.banner {
		&-content {
			&-headline {
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 770px) {
	.banner {
		background-color: #45413e; 
	}
}