.read-more-text {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	position: relative;

	.read-more-link, .show-hide {
		color: #84bc22;
		cursor: pointer;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}
