.welcome {
	background-color: #fff;
	padding: 20px 55px;

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 0px;
}

@media (max-width: 990px) {
	.welcome {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 0;
		padding: 20px 15px;
	}
}
