.footer {
	background-color: #fff;
	padding: 60px 70px 20px 60px;

	.column-name {
		color: #333333;
		font-size: 14px;
		font-weight: 800;
		text-transform: uppercase;
	}

	p,
	a,
	.text {
		color: #45413e;
		font-size: 13px;
		line-height: 18px;
	}

	.text {
		opacity: 0.7;
		padding-top: -15px;

		li {
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 990px) {
	.footer {
		padding: 0;
	}
}
