.cart-item {
	display: flex;
	justify-content: space-between;

	&-info {
		display: flex;
		gap: 20px;
		align-items: center;

		.label {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2 {
				color: #45413e;
				font-size: 16px;
			}
			
			span {
				color: #bdc3c7;
				font-size: 14px;
			}
		}
	}

	&-functionality {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 40%;

		.delete {
			width: 25px;
			height: 25px;
			background-color: transparent;
			border: 2px solid #e8e2d6;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

@media (max-width: 770px) {
	.cart-item {
		&-functionality {
			width: 100%;
		}
	}
}