.header {
	background-color: #fff;
	min-height: 77px;
	padding-top: 8px;
	display: flex;
	align-items: center; 
	justify-content: space-evenly;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
}