.thumbnail-carousel {
	display: none;
	--slide-spacing: 1rem;
	--slide-size: 33%;
	--slide-height: 19rem;
	padding: 1.6rem;
	position: relative;
}
.thumbnail-carousel__viewport {
	overflow: hidden;
	display: flex;
	align-items: center;
}
.thumbnail-carousel__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
}
.thumbnail-carousel__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
}
.thumbnail-carousel__slide__img {
	display: block;
	height: auto;
	width: 80%;
	object-fit: cover;
}

.thumbnail-carousel__dot {
	-webkit-appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
}
.thumbnail-carousel__dots {
	z-index: 1;
	bottom: -25px;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.thumbnail-carousel__dot {
	width: 2.4rem;
	height: 2.4rem;
	display: flex;
	align-items: center;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
.thumbnail-carousel__dot:after {
	background: #262a32;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	content: '';
}
.thumbnail-carousel__dot--selected:after {
	background: #fff;
	border: 3px solid #262a32;
}

@media (max-width: 990px) {
	.thumbnail-carousel {
		display: block;
	}
}